* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: rgb(255, 255, 255);
}

.img-gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.img-gallery img:hover {
    transform: scale(0.8) rotate(7deg);
    border-radius: 20px;
    box-shadow: 10px 10px rgb(0, 0, 0, 0.2);
    transition: 0.4s;
}

.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.full-img img {
    width: 90%;
    max-width: 500px;
    height: 90%;
}

.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: aliceblue;
    cursor: pointer;
}